.hero-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 150px;
}

.hero-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
